<b-modal :active.sync="isActive" :width="900" @close="onModalClosed" class="icon-select-modal">
    <div class="modal-card">

        <header class="modal-card-head">
            <p class="modal-card-title">Select Icon</p>
        </header>

        <div class="modal-card-search">
            <b-field>
                <b-input placeholder="Search..."
                         type="search"
                         icon="search"
                         v-model="search">
                </b-input>
            </b-field>
        </div>

        <div class="modal-card-body">

            <div class="columns is-multiline">

                <div class="column is-12" v-for="group in filteredIconsArray">

                    <p class="title is-3">
                        {{ group.name }}
                    </p>

                    <hr>

                    <div class="columns is-multiline">
                        <div class="column is-4" v-for="icon in group.icons">
                            <div class="select-box"
                                 :class="{'is-active': selectedIcon == icon.name}"
                                 @click="select(icon)">

                                <b-icon :icon="icon.name" size="is-large"></b-icon>

                                <span class="title is-6">
                                    {{ icon.title }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</b-modal>