html, body {
  @include scrollbars(0.8rem, $grey-light);
}

.page {

  .content-area {
    position: relative;
    min-height: calc(100vh - #{$navbar-height});
  }

  .side-menu-holder {
    position: fixed;
    width: $side-menu-width;
    left: 0;
    top: $navbar-height;
    bottom: 0;

    @include scrollbars(0.3rem, $grey-lighter);
  }

  .main-content {
    padding-left: $side-menu-width;
    background-color: $white-ter;
  }

  .main-content-container {
    padding: 0 3rem;
  }

}