<li class="menu-item"
    :class="cssClasses">

    <a @click="linkClicked($event)"
       :href="item.url"
       :target="item.in_new_window ? '_blank' : '_self'"
       :class="{'is-active': isActive}">
        <b-icon v-if="item.icon" :icon="item.icon"></b-icon>
        <span class="item-label">{{ item.title }}</span>
        <b-icon v-if="hasItems" class="collapsible-icon" icon="angle-down"></b-icon>
    </a>

    <collapsible-menu-group ref="group"
                            v-if="hasItems"
                            v-show="isActive" :items="items"></collapsible-menu-group>
</li>