.menus-create-edit {

  .icon-only-addon {
    padding: 0 5px 0 0;

    .icon {
      overflow: hidden;
      height: 100%;
    }
  }

  .menu-items {
    padding: 0;
  }

  .section-header {
    .level-item .title,
    .level-item .subtitle {
      margin-bottom: 0;
    }
  }

  .column > section {
    padding-left: 0;
    padding-right: 0;
  }



}