.image-card {
  border: 1px solid $grey-light;
  padding: 5px;
  border-radius: 4px;
  max-width: 200px;
  margin: 0 auto;

  .image-holder {
	position: relative;
  }

  .image {
	width: 100%;
  }

  .image-loader {
	position: absolute;
	font-size: 12px;

	.loading-icon:after {
	  top: calc(50% - 2.5em);
	}

  }

  .image-overlay {
	@include overlay();
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: 0;
	z-index: 10;
	padding: 6px;
	background-color: rgba($grey-light, 0.8);

	.file-original-name {
	  word-break: break-all;
	  font-size: 0.8em;
	  line-height: 1;
	}

	> * {
	  &:not(:last-child) {
		margin-bottom: 0.5em;
	  }
	}
  }

  &:hover {
	.image-overlay {
	  opacity: 1;
	}
  }

}