.la-field-renderer {

  .list {
	li {
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;

      + li{
        margin-top: 0.2em;
        padding-top: 0.2em;
        border-top: 1px solid $grey-lighter;
      }
    }
  }

  &.value-type-image {
    text-align: center;

    .image {
      margin: 0 auto;
    }

  }

}