.side-menu {
  height: 100%;
  background-color: $white-ter;
  box-shadow: 2px 0 3px rgba($black, 0.1);
  overflow-x: hidden;
  overflow-y: auto;

  .menu {
    padding: $size-1 0;
  }

  .menu-list {
    .menu-item {
      > a {
        border-radius: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &:not(.is-active):hover {
          background-color: transparent;
          color: rgba($primary, 0.5);
        }

      }

      .collapsible-icon {
        transform: rotate(-90deg);
        transition: transform $speed $easing;
      }

      .is-active {
        .collapsible-icon {
          transform: rotate(0deg);
        }
      }

    }

    .icon {
      flex-grow: 0;
      flex-shrink: 0;

      &:first-child {
        margin: 0 0.3rem 0 0;
      }

    }

    .item-label {
      flex-grow: 1;
    }

    li ul {
      margin: 0;
      padding: 0.75em 0 0;
      border: 0;
      background-color: rgba($grey-light, 0.2);

      a.is-active {
        background-color: transparent;
        color: $primary;
      }

    }

  }

}