.top-bar {

  .logo {
    font-weight: 600;
    font-size: 1.6em;
    color: $primary;

    .logo-art {
      vertical-align: middle;
      display: inline-block;
      width: 1.2em;
      height: 1.2em;

      svg {
        display: inline-block;

        path {
          fill: $primary
        }

      }

    }

  }

}